DATABASE_URL="postgresql://caderno:caderno@localhost:5435/caderno?schema=public"
NEXTAUTH_URL="http://localhost:3013"
NEXTAUTH_SECRET=""

ADMIN_NAME="Jader"
ADMIN_USERNAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_BUCKET="caderno"
